/* components/TaskCard.module.css */

.taskCard {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 195%;
    /* max-width: 95%; */
    margin-left: -47%;
  }
  